diplomka_implementace-main/pulseaudio/
content-blocking/source/__pycache__/*
content-blocking/custom_dns_server/__pycache__/*
content-blocking/traffic/*.json
content-blocking/traffic_log_big.zip
custom-jshelter-fpd/
site-effects/get_data/__pycache__/*
site-effects/analyze_data/__pycache__/*
site-effects/data/*